* { @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap');
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #F5EDDC;
}


h1 { 
    display: flex;
justify-content: flex-start;
padding-top: 150px;
font-size: 45px;
    margin-bottom: 25px;
    color: #1D1E1B; 
    text-transform: uppercase; 

}
#img {
    width: 100%;
}
.line {
    display: flex;
    margin-left: 50px;
    opacity: 0.80;
    width: auto;
    height: 4px;
    background-color: #1D1E1B;
 }

 
p {
    display: flex;
    font-size: 30px;
}
/*  ccccc*/



/* Start code: Contact-container*/
.contact-container h1 {
    
    text-align: center;
    margin-bottom: 20px;
}

.contact-container>section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-table {
    text-align: center;
    margin-left: 100px;
}

.contact-table p {
    color: #1D1E1B;
}

.contact-table>input[type=text],
input[type=number],
input[type=email],
textarea {
    width: 90%;
    padding: 15px 10px;
    background-color: #ededed;
    border: 1px solid #1D1E1B;
}

.contact-table>input[type=submit] {
    background-color: white;
    width: 90%;
    padding: 10px 0;
    font-size: 1em;
    color: #1D1E1B;
    border: 2px solid #1D1E1B;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}

::placeholder {
    font-size: 15px;
    padding-left: 10px;
    text-transform: uppercase;
}




.contact-div>div {
    text-align: center;
    background-color: #F5EDDC;
    margin-top: 50px;
    padding: 50px 0;
    display: flex;
      display: inline-block;
        border-radius: 15px;
      border: 3px  #1D1E1B;
}



/* Einde code: Contact-container*/


  

    /*Start code: Contact-container*/
    .contact-container {
        width: 100%;
        margin: auto;
        border-top: 2px solid #e4919e;
    }

   
  

    

    .contact-div {
display: flex;
justify-content: space-around;

margin-bottom: 50px;

}
h2 {
    font-size: 30px;
}

    
    .contact-div a{
    display: flex;
    text-align: center;
        color: black;
        display: inline;
        
margin: 30px;  
text-align: center;
}

.contact-div p {
    display: flex;
    justify-content: center;
margin-top: 30px;
border-bottom: 2px solid #1D1E1B ;
padding: 20px;



}


    .icon-round-medium {
        display: flex;
        border-radius: 100%;
        height: 90px;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        width: 90px;
        background-color: #e4919e;
    }
    #icon {
        width: 50px;
        height: 50px;
        display: flex;
        margin:  auto;

}


.Maps {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}
   .end {
    display: inline;
} 

    .contact-table p {
        display: flex;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .contact-table>input[type=text],
    input[type=number],
    input[type=email],
    textarea {
        display: flex;
        font-size: 18px;
        width: 40%;
        margin: 0;
        padding:  10px;
        transition: 1s;
    }

    .contact-table>input[type=text]:hover,
    input[type=number]:hover,
    input[type=email]:hover,
    textarea:hover {
        display: flex;
        width: 50%;
        border: 2px solid #1D1E1B;
        transition: 0.5s;
        border-radius: 0px 15px 15px 0px;
    }

    .contact-table>input[type=submit] {
        display: flex;
        margin: 20px 0 100px 0;
        width: 200px;
        border-radius: 10px;
        transition: 1s;
        padding: 10px;
    }

    .contact-table>input[type=submit]:hover {
        border-radius: 40px;
        background-color: #1D1E1B;
        color: white;
        transition: 0.5s;
    }
.Maps i {
text-align: center;
    text-decoration: none;
    color: #1D1E1B;
    padding: 20px;
    font-size: 60px;
display: flex;
justify-content: center;
}
.Maps a {

    text-decoration: none;
}


    /*Einde code: Contact-container*/

    @media  (max-width: 768px) {
        .contact-table {
            text-align: center;
            margin-left: 50px;
        }

        .contact-table>input[type=text], input[type=number], input[type=email], textarea {
            display: flex;
            font-size: 18px;
            width: 75%;
            margin: 0;
            padding: 10px;
            transition: 1s;
        }
        .contact-div>div {
            text-align: center;
            margin: auto;
            flex-direction: column;
            display: block;
            margin-bottom: 20px;
              
        }


        .contact-div p {
            justify-content: center;
            display: flex;

            border-bottom: 0px solid #1D1E1B;

        }

        .contact-div {
            display: block;
            justify-content: center;
        margin: auto;
        
    }

    h1 {
        font-size: 30px;
        margin-top: 10px;
        padding: 10px;
    
    }
   
    }