* {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap');
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* NAV */
@media (min-width: 769px) {
    .outer-menu {
        display: none;
    }

 li,a, button {
    text-decoration: none;
}

nav {
  display: flex;
flex-direction: row;  border-bottom:  solid #1D1E1B;
  

 
}
header #logo {
    display: flex;
    width: 250px;
    margin-top: 30px;
    
    float: left; }


nav ul {
    
    display: flex;
overflow: hidden;
}
  
nav li {
    display: flex;

    display: inline-block;
    margin:  20px 40px ;

}
  
nav li a {
    display: flex;
color: #1D1E1B;
    font-size: 25px; 
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;

}
nav .main-menu-icons {
    display: flex;
    font-size: 30px;
    padding: 20px;
margin-right: 10px;
    

}
nav .main-menu-icons a {
    padding: 10px;
    color: #1D1E1B;
flex-direction: inline-block; 
}
  
nav li a:hover {
    color: white;
    background-color: #e4919e;
    border-radius: 3px;
}
  
nav li.active a{
    color:white;
    text-transform:uppercase;
    background-color:#fff;
    color:#ffffff;
    
    
}
}

@media only screen and (min-width:768px) and (max-width:1010px) {

    header #logo {
        display: flex ;
        width: 150px;
        margin-top : 30px;
        float : left ; 
    }
    
    
    
      
    nav li {
        display: flex;
    
        display: inline-block;
        margin:  auto ;
    
    }
      
    nav .main-menu-icons a {
        padding: 4px;
        color: #e4919e;
    flex-direction: inline-block; 
    }
      

}



footer {
    padding: 50px 0;
    background-color: #1D1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1E1B;
    text-align: center;
    position: relative;

}
@media (min-width: 768px) {
footer {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    padding: 50px 0px 0px;
}
}
.footer-ipo-logo img {
    height: 150px;
}

footer h2 {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px;
}

footer p {
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
    font-size: 25px;
    padding: 30px;
    text-decoration: none;
}

footer a {
text-decoration: none;
}

footer p:hover {
    color: #e4919e;
    transition: 0.3s;
}

.footer-icons i {
    font-size: 60px;
    margin: 30px;
    transition: 0.3s;
    color: #e4919e;
    
}

.footer-icons i:hover {
    color: #F05945;
    transition: 0.3s;
}

.icons-university {
    background-color: #1D1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-university img {
    margin-bottom: 50px;
    width: 100px;
}

/* Einde code: Footer-container*/

